<?scryber append-log='false' log-level='messages' ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style>
            body{
                font-family: "OpenSans-light";
                font-weight: 300;
            }
            h1{
                font-family: "Roboto Condensed Black";
                font-weight: 900;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <h1>Hello Roboto Condensed Black Italic!</h1>
        <p>With OpenSans in the body</p>
    </body>
</html>