/* define default css vars */
:root {
    --brand-color: rgb(0, 168, 161);
    --main-color : silver;
    --main-color-light : transparent;
    --main-logo: url(https://www.paperworkday.info/assets/PaperworkLogoOnly.png);
    --main-logo-width: 45pt;
    --main-logo-height: 40pt;
}


body{
    padding: 20pt 15pt 20pt 30pt;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, white 70%, silver);
}

body.accessible{
    background-image: none;
    background-color: black;
    color: white;
    font-size: 150%;
}

header .banner{
    padding: 1rem;
    margin: -20pt -15pt 10pt -30pt;
    border-bottom: solid 1pt var(--main-color);
    background-color: var(--main-color);
}

header .banner .logo{
    background-color: var(--main-color-light);
    background-image: var(--main-logo);
    background-size: var(--main-logo-width) var(--main-logo-height);
    background-repeat: no-repeat;
    width: var(--main-logo-width);
    height: var(--main-logo-height);
    float: left;
    margin-right: 10pt;
    
}

header .banner .title{
    font-size: 150%;
    overflow: visible;
    font-style: normal;
    font-weight: 700;
    color: var(--brand-color);
    display: block;
    text-decoration: underline;
    letter-spacing: -1pt;
    vertical-align: top;
}


h1{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: solid 1pt silver;
    
}

h4{
    padding-top: 0;
    font-style: normal;
    border-bottom: solid 1pt silver;
}

h2{
    padding-top: 0;
    font-style: normal;
}

.friend-card{
    background-image: linear-gradient(to left, white 85%, silver 100%);
    border-bottom: solid 1pt silver;
    font-style: normal;
    padding: 4pt 6pt;
    width: 45%;
    display: inline-block;
    margin: 10pt 5pt 0pt 5pt;
}

.friend-card a{
    color: black;
}

.muted{
    color: silver;
}