/* define default css vars */
:root {
    --brand-color : red;
    --brand-color-light : rose;
}


body{
    margin: 20pt 15pt 20pt 30pt;
    font-family: Arial, Helvetica, sans-serif;
}

header .logo{
    background-image: linear-gradient(to bottom, white, silver);
    padding: 0.2rem;
    margin: -20pt -15pt 10pt -30pt;
}

header > .logo img {
    max-height: 3rem;
    float: left;
    padding: 0.5rem;
}

h1{
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: solid 1pt silver;
}

h4{
    padding-top: 0;
    font-style: normal;
    border-bottom: solid 1pt silver;
}

h2{
    padding-top: 0;
    font-style: normal;
}

.friend-card{
    background-image: linear-gradient(to left, white 85%, silver 100%);
    border-bottom: solid 1pt silver;
    font-style: normal;
    padding: 4pt 6pt;
    width: 45%;
    display: inline-block;
    margin: 10pt 5pt 0pt 5pt;
}

.friend-card a{
    color: black;
}

.muted{
    color: silver;
}