<!DOCTYPE html>
<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>

<head>
    <link rel='stylesheet' href='TablesCentered.css' />
</head>

<body>
<div style='font-size: 9pt;'>
    We are a fictional company providing imaginary services to imaginary clients. Our mission is to deliver excellence in every pixel. Services include
    web development, graphic design, and digital marketing. We pride ourselves on our commitment to quality and customer satisfaction.
    Contact us for more information about how we can help bring your ideas to life.
</div>
<br />
<hr />
<label class='note'>Table 1: "AVERAGE" text is correctly not visible.</label>
<br />

<div class="center-content">
    <table id='table-1'>
        <tr>
            <td>
                <br />RAW<br /><u>VALUES 1</u>
            </td>

            <td>
                <br />RAW<br /><u>VALUES 2</u>
            </td>

            <td>
                <br />RAW<br /><u>VALUES 3</u>
            </td>

            <td>
                <br /><span class='average-header-text'>AVERAGE</span><br /><u>CALCULATIONS A</u>
            </td>

            <td>
                <br /><span class='average-header-text'>AVERAGE</span><br /><u>CALCULATIONS B</u>
            </td>
            <td>
                <br /><span class='average-header-text'>AVERAGE</span><br /><u>CALCULATIONS C</u>
            </td>
        </tr>
        <tr>
            <td>data a</td>
            <td>data b</td>
            <td>data c</td>
            <td>data d</td>
            <td>data e</td>
            <td>data f</td>
        </tr>
    </table>
</div>
<br />
<label class='note'>Issue is that this text should left aligned, but it is not</label>
<br />
<br />
<div style='font-size: 9pt;'>
    We are a fictional company providing imaginary services to imaginary clients. Our mission is to deliver excellence in every pixel. Services include
    web development, graphic design, and digital marketing. We pride ourselves on our commitment to quality and customer satisfaction.
    Contact us for more information about how we can help bring your ideas to life.
</div>

<br />
<br />
<br />


<hr />
<label class='note'>Table 2: "AVERAGE" text is correctly visible.</label>
<br />

<div class="center-content">
    <table id='table-2'>
        <tr>
            <td>
                <br />RAW<br /><u>VALUES 1</u>
            </td>

            <td>
                <br />RAW<br /><u>VALUES 2</u>
            </td>

            <td>
                <br />RAW<br /><u>VALUES 3</u>
            </td>

            <td>
                <br /><label class='average-header-text'>AVERAGE</label><br /><u>CALCULATIONS A</u>
            </td>

            <td>
                <br /><label class='average-header-text'>AVERAGE</label><br /><u>CALCULATIONS B</u>
            </td>

            <td>
                <br /><label class='average-header-text'>AVERAGE</label><br /><u>CALCULATIONS C</u>
            </td>
        </tr>
        <tr>
            <td>data a</td>
            <td>data b</td>
            <td>data c</td>
            <td>data d</td>
            <td>data e</td>
            <td>data f</td>
        </tr>
    </table>
</div>
<br />
<label class='note'>Issue is that this text should left aligned, but it is not</label>
<br />
<br />
<div style='font-size: 9pt;'>
    We are a fictional company providing imaginary services to imaginary clients. Our mission is to deliver excellence in every pixel. Services include
    web development, graphic design, and digital marketing. We pride ourselves on our commitment to quality and customer satisfaction.
    Contact us for more information about how we can help bring your ideas to life.
</div>

</body>
</html>
