<!-- /Templates/Tables/TableHeaders.html -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Table Headers and Footers</title>
</head>
<body style="padding:20pt">
    <!-- put the table in a div with 2 columns and a maximum height of 270pt -->
    <div style="max-height: 270pt; font-size:12pt; column-count: 2">

        <table id='TableHead' style="width:100%">
            <thead>
                <tr>
                    <td>Column 1</td>
                    <td>Header 2</td>
                    <td>Header 3</td>
                </tr>
                <!-- This row will not repeat across multiple columns -->
                <tr repeat="none">
                    <td>Header 1</td>
                    <td>Header 2</td>
                    <td>Header 3</td>
                </tr>
            </thead>
            <tbody>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
                <tr><td>Cell 1</td><td>Cell 2</td><td>Cell 3</td></tr>
            </tbody>
            <tfoot style="font-style: italic;">
                <tr>
                    <td colspan="2" style="border:none;"></td>
                    <td>Footer</td>
                </tr>
            </tfoot>
        </table>

    </div>
</body>
</html>