<?xml version="1.0" encoding="utf-8" ?>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <style>

        header, footer {
            padding: 10pt;
            background-color: #333;
            color: #EEE;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }

        body h1, body div {
            margin: 20pt;
        }

        body div.content {
            font-size: 12pt;
            padding: 4pt;
            border: solid 1px silver;
        }
    </style>
</head>
<body>
    <header>
        <h4>This is the header</h4>
    </header>
    <h1>This is the content</h1>
    <div class='content'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porttitor urna.
        Duis pellentesque sem tempus magna faucibus, quis lobortis magna aliquam. Nullam eu risus
        facilisis sapien fermentum condimentum. Pellentesque ut placerat diam, sed suscipit nibh.
        Integer dictum dolor vel finibus imperdiet. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Integer congue turpis at varius porttitor.
        nec faucibus ipsum bibendum sed. Nunc tristique risus eu quam porttitor blandit.
        In erat mauris, imperdiet a venenatis eu, tempus a nunc.
        <br />
        Nullam et erat vel nisl suscipit volutpat id vitae massa. Nunc volutpat feugiat iaculis.
        Mauris sit amet eleifend augue. Nulla imperdiet eu mauris nec consequat. Donec a urna blandit,
        porttitor libero vel, rutrum diam. Fusce scelerisque diam eu rutrum vestibulum.
        Vivamus a quam in nisi euismod laoreet. Morbi mauris augue, lobortis id volutpat in,
        venenatis ut ex. Donec euismod risus eros, dapibus tincidunt dolor varius id.
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porttitor urna.
        Duis pellentesque sem tempus magna faucibus, quis lobortis magna aliquam. Nullam eu risus
        facilisis sapien fermentum condimentum. Pellentesque ut placerat diam, sed suscipit nibh.
        Integer dictum dolor vel finibus imperdiet. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Integer congue turpis at varius porttitor.
        nec faucibus ipsum bibendum sed. Nunc tristique risus eu quam porttitor blandit.
        In erat mauris, imperdiet a venenatis eu, tempus a nunc.
        <br />
        Nullam et erat vel nisl suscipit volutpat id vitae massa. Nunc volutpat feugiat iaculis.
        Mauris sit amet eleifend augue. Nulla imperdiet eu mauris nec consequat. Donec a urna blandit,
        porttitor libero vel, rutrum diam. Fusce scelerisque diam eu rutrum vestibulum.
        Vivamus a quam in nisi euismod laoreet. Morbi mauris augue, lobortis id volutpat in,
        venenatis ut ex. Donec euismod risus eros, dapibus tincidunt dolor varius id.
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porttitor urna.
        Duis pellentesque sem tempus magna faucibus, quis lobortis magna aliquam. Nullam eu risus
        facilisis sapien fermentum condimentum. Pellentesque ut placerat diam, sed suscipit nibh.
        Integer dictum dolor vel finibus imperdiet. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Integer congue turpis at varius porttitor.
        nec faucibus ipsum bibendum sed. Nunc tristique risus eu quam porttitor blandit.
        In erat mauris, imperdiet a venenatis eu, tempus a nunc.
        <br />
        Nullam et erat vel nisl suscipit volutpat id vitae massa. Nunc volutpat feugiat iaculis.
        Mauris sit amet eleifend augue. Nulla imperdiet eu mauris nec consequat. Donec a urna blandit,
        porttitor libero vel, rutrum diam. Fusce scelerisque diam eu rutrum vestibulum.
        Vivamus a quam in nisi euismod laoreet. Morbi mauris augue, lobortis id volutpat in,
        venenatis ut ex. Donec euismod risus eros, dapibus tincidunt dolor varius id.
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porttitor urna.
        Duis pellentesque sem tempus magna faucibus, quis lobortis magna aliquam. Nullam eu risus
        facilisis sapien fermentum condimentum. Pellentesque ut placerat diam, sed suscipit nibh.
        Integer dictum dolor vel finibus imperdiet. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Integer congue turpis at varius porttitor.
        nec faucibus ipsum bibendum sed. Nunc tristique risus eu quam porttitor blandit.
        In erat mauris, imperdiet a venenatis eu, tempus a nunc.
        <br />
        Nullam et erat vel nisl suscipit volutpat id vitae massa. Nunc volutpat feugiat iaculis.
        Mauris sit amet eleifend augue. Nulla imperdiet eu mauris nec consequat. Donec a urna blandit,
        porttitor libero vel, rutrum diam. Fusce scelerisque diam eu rutrum vestibulum.
        Vivamus a quam in nisi euismod laoreet. Morbi mauris augue, lobortis id volutpat in,
        venenatis ut ex. Donec euismod risus eros, dapibus tincidunt dolor varius id.
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porttitor urna.
        Duis pellentesque sem tempus magna faucibus, quis lobortis magna aliquam. Nullam eu risus
        facilisis sapien fermentum condimentum. Pellentesque ut placerat diam, sed suscipit nibh.
        Integer dictum dolor vel finibus imperdiet. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Integer congue turpis at varius porttitor.
        nec faucibus ipsum bibendum sed. Nunc tristique risus eu quam porttitor blandit.
        In erat mauris, imperdiet a venenatis eu, tempus a nunc.
        <br />
        Nullam et erat vel nisl suscipit volutpat id vitae massa. Nunc volutpat feugiat iaculis.
        Mauris sit amet eleifend augue. Nulla imperdiet eu mauris nec consequat. Donec a urna blandit,
        porttitor libero vel, rutrum diam. Fusce scelerisque diam eu rutrum vestibulum.
        Vivamus a quam in nisi euismod laoreet. Morbi mauris augue, lobortis id volutpat in,
        venenatis ut ex. Donec euismod risus eros, dapibus tincidunt dolor varius id.
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porttitor urna.
        Duis pellentesque sem tempus magna faucibus, quis lobortis magna aliquam. Nullam eu risus
        facilisis sapien fermentum condimentum. Pellentesque ut placerat diam, sed suscipit nibh.
        Integer dictum dolor vel finibus imperdiet. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Integer congue turpis at varius porttitor.
        nec faucibus ipsum bibendum sed. Nunc tristique risus eu quam porttitor blandit.
        In erat mauris, imperdiet a venenatis eu, tempus a nunc.
        <br />
        Nullam et erat vel nisl suscipit volutpat id vitae massa. Nunc volutpat feugiat iaculis.
        Mauris sit amet eleifend augue. Nulla imperdiet eu mauris nec consequat. Donec a urna blandit,
        porttitor libero vel, rutrum diam. Fusce scelerisque diam eu rutrum vestibulum.
        Vivamus a quam in nisi euismod laoreet. Morbi mauris augue, lobortis id volutpat in,
        venenatis ut ex. Donec euismod risus eros, dapibus tincidunt dolor varius id.
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porttitor urna.
        Duis pellentesque sem tempus magna faucibus, quis lobortis magna aliquam. Nullam eu risus
        facilisis sapien fermentum condimentum. Pellentesque ut placerat diam, sed suscipit nibh.
        Integer dictum dolor vel finibus imperdiet. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Integer congue turpis at varius porttitor.
        nec faucibus ipsum bibendum sed. Nunc tristique risus eu quam porttitor blandit.
        In erat mauris, imperdiet a venenatis eu, tempus a nunc.
        <br />
        Nullam et erat vel nisl suscipit volutpat id vitae massa. Nunc volutpat feugiat iaculis.
        Mauris sit amet eleifend augue. Nulla imperdiet eu mauris nec consequat. Donec a urna blandit,
        porttitor libero vel, rutrum diam. Fusce scelerisque diam eu rutrum vestibulum.
        Vivamus a quam in nisi euismod laoreet. Morbi mauris augue, lobortis id volutpat in,
        venenatis ut ex. Donec euismod risus eros, dapibus tincidunt dolor varius id.
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porttitor urna.
        Duis pellentesque sem tempus magna faucibus, quis lobortis magna aliquam. Nullam eu risus
        facilisis sapien fermentum condimentum. Pellentesque ut placerat diam, sed suscipit nibh.
        Integer dictum dolor vel finibus imperdiet. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Integer congue turpis at varius porttitor.
        nec faucibus ipsum bibendum sed. Nunc tristique risus eu quam porttitor blandit.
        In erat mauris, imperdiet a venenatis eu, tempus a nunc.
        <br />
        Nullam et erat vel nisl suscipit volutpat id vitae massa. Nunc volutpat feugiat iaculis.
        Mauris sit amet eleifend augue. Nulla imperdiet eu mauris nec consequat. Donec a urna blandit,
        porttitor libero vel, rutrum diam. Fusce scelerisque diam eu rutrum vestibulum.
        Vivamus a quam in nisi euismod laoreet. Morbi mauris augue, lobortis id volutpat in,
        venenatis ut ex. Donec euismod risus eros, dapibus tincidunt dolor varius id.
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque porttitor urna.
        Duis pellentesque sem tempus magna faucibus, quis lobortis magna aliquam. Nullam eu risus
        facilisis sapien fermentum condimentum. Pellentesque ut placerat diam, sed suscipit nibh.
        Integer dictum dolor vel finibus imperdiet. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Integer congue turpis at varius porttitor.
        nec faucibus ipsum bibendum sed. Nunc tristique risus eu quam porttitor blandit.
        In erat mauris, imperdiet a venenatis eu, tempus a nunc.
        <br />
        Nullam et erat vel nisl suscipit volutpat id vitae massa. Nunc volutpat feugiat iaculis.
        Mauris sit amet eleifend augue. Nulla imperdiet eu mauris nec consequat. Donec a urna blandit,
        porttitor libero vel, rutrum diam. Fusce scelerisque diam eu rutrum vestibulum.
        Vivamus a quam in nisi euismod laoreet. Morbi mauris augue, lobortis id volutpat in,
        venenatis ut ex. Donec euismod risus eros, dapibus tincidunt dolor varius id.
    </div>
    <footer>
        <h4>This is the footer</h4>
    </footer>

</body>

</html>