<?xml version="1.0" encoding="utf-8" ?>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <style>

        header, footer {
            padding: 10pt;
            background-color: #333;
            color: #EEE;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }

        body h1, body div {
            margin: 20pt;
        }

        body div.content {
            font-size: 12pt;
            padding: 4pt;
            border: solid 1px silver;
            column-count: 2;
        }
    </style>
</head>
<body>
    <header>
        <h4>This is the header</h4>
    </header>
    <h1>This is the content</h1>
    <!-- main content in the document
        bound from the parameter 'content' -->
    <div class='content' >{{content}}</div>
    <footer>
        <h4>This is the footer</h4>
    </footer>

</body>

</html>