<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title></title>
  <style type="text/css">
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Times; color: #000000; -webkit-text-stroke: #000000}
    span.s1 {font-kerning: none; background-color: #262626}
    span.s2 {font-kerning: none}
  </style>
</head>
<body>
<h4 style="margin: 0.0px 0.0px 16.0px 0.0px; text-align: right; font: 12.0px Times; color: #eaeaea; -webkit-text-stroke: #eaeaea"><span class="s1"><b>This is the header</b></span></h4>
<h1 style="margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; font: 40.0px Times; color: #ffffff; -webkit-text-stroke: #ffffff"><span class="s2">This is the title<span class="Apple-converted-space"> </span></span></h1>
<h1 style="margin: 0.0px 26.7px 26.7px 26.7px; font: 24.0px Times; color: #000000; -webkit-text-stroke: #000000"><span class="s2"><b>This is the content</b></span></h1>
<p class="p4"><span class="s2">{{content}}</span></p>
<h4 style="margin: 0.0px 0.0px 16.0px 0.0px; font: 12.0px Times; color: #eaeaea; -webkit-text-stroke: #eaeaea"><span class="s1"><b>This is the footer</b></span></h4>
</body>
</html>
