<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Simple Lists</title>
    <style>
        .separator {
            border-bottom: solid 1px gray;
            margin-bottom: 10pt;
            padding-bottom: 10pt;
            column-count: 2;
            height: 200pt;
        }

        .keep-together > li{
            break-inside: avoid;
        }
    </style>
</head>
<body style="padding:20pt; font-size: 14pt;">
    <div class="separator">
        <h4>A list flowing onto a second column.</h4>
        <ol>
            <li>First Item</li>
            <li>Second Item</li>
            <li>Third Item</li>
            <li>Fourth Item</li>
            <li>Fifth Item</li>
            <li>Sixth Item with long flowing content, that will flow the
                list item over onto the next column nicely, and evenly
                split on each of the lines.</li>
            <li>Seventh Item</li>
            <li>Eighth Item</li>
            <li>Nineth Item</li>
            <li>Tenth Item</li>
        </ol>
    </div>

    <div class="separator">
        <h4>A list flowing as a block onto a second column.</h4>
        <ul class="keep-together" style="list-style:lower-alpha;">
            <li>First Item</li>
            <li>Second Item</li>
            <li>Third Item</li>
            <li>Fourth Item</li>
            <li>Fifth Item</li>
            <li>Sixth Item with long flowing content, that will push the
            list item over onto the next column as a block, rather than
            split on each of the lines.</li>
            <li>Seventh Item</li>
            <li>Eighth Item</li>
            <li>Nineth Item</li>
            <li>Tenth Item</li>
        </ul>
    </div>
</body>
</html>

