<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Coded Lists</title>
    <style>
        .separator {
            border-bottom: solid 1px gray;
            margin-bottom: 10pt;
            padding-bottom: 10pt;
            column-count: 2;
            height: 170px;
        }
    </style>
</head>
<body style="padding:20pt; font-size: 14pt;">

    <h4>Add a list after</h4>
    <div id="TopDiv" class="separator">
    </div>

    <h4>Add another list after</h4>
    <div id="SecondDiv" class="separator">
    </div>
</body>
</html>

