<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Simple Lists</title>
    <style>
        .separator {
            border-bottom: solid 1px gray;
            margin-bottom: 10pt;
            padding-bottom: 10pt;
            column-count: 2;
        }

        .top{
            -pdf-li-postfix:.;
            -pdf-li-align: left;
        }

        ol.inner{
            -pdf-list-group: inner;
            -pdf-list-concat: concatenate;
            -pdf-li-prefix : .;
            -pdf-li-postfix : .;
            -pdf-li-inset: 35pt;
        }
    </style>
</head>
<body style="padding:20pt; font-size: 14pt;">
    <div class="separator">
        <h4>An unordered list.</h4>
        <ul style="break-after: always;">
            <li>First Item</li>
            <li>Second Item</li>
            <li>Third Item</li>
            <li>Fourth Item
                <!-- inner list with a prexix applied -->
                <ul data-li-prefix=" - ">
                    <li>Inner First Item</li>
                    <li>Inner Second Item</li>
                    <li>Inner Third Item</li>
                    <li>Inner Fourth Item</li>
                </ul>
            </li>
            <li>Fifth Item</li>
        </ul>

        <h4>An ordered nested list</h4>
        <ol class="top">
            <li>First Item</li>
            <li>Second Item</li>
            <li>Third Item
                <ol class="inner">
                    <li>Inner First Item</li>
                    <li>Inner Second Item</li>
                    <li>Inner Third Item</li>
                    <li>Inner Fourth Item</li>
                </ol>
            </li>
            <li>Fourth Item</li>
            <li>Fifth Item</li>
        </ol>
    </div>
</body>
</html>