<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Nested Lists</title>
    <style>
        .separator {
            border-bottom: solid 1px gray;
            margin-bottom: 10pt;
            padding-bottom: 10pt;
            font-size: 12pt;
            column-count:2;
            height: 100pt;
        }

        
    </style>
</head>
<body style="padding:20pt; font-size: 14pt;">
    <h4>A nested list.</h4>
    <div class="separator" style="height: 160pt;" >
        <ul>
            <li>First Item</li>
            <li>Second Item</li>
            <li>Third Item</li>
            <li>
                Fourth Item
                <ul>
                    <li>Inner First Item</li>
                    <li>Inner Second Item</li>
                    <li>Inner Third Item</li>
                    <li>Inner Fourth Item</li>
                </ul>
            </li>
            <li>Fifth Item</li>
        </ul>
    </div>
    <h4>An overflowing nested list</h4>
    <div class="separator">

        <ol class="top">
            <li>First Item</li>
            <li>Second Item</li>
            <li>Third Item</li>
            <li>Fourth Item</li>
            <li>
                Fifth Item at the end will cause overflow.
                <ol class="inner">
                    <li>Inner First Item</li>
                    <li>Inner Second Item</li>
                    <li>Inner Third Item</li>
                    <li>Inner Fourth Item</li>
                </ol>
            </li>
        </ol>
    </div>
    <h4>A non-breaking nested list</h4>
    <div class="separator">
        <ol class="top">
            <li>First Item</li>
            <li>Second Item</li>
            <li>Third Item</li>
            <li>Fourth Item</li>
            <li style="break-inside:avoid;">
                Fifth Item at the end will cause overflow.
                <ol class="inner">
                    <li>Inner First Item</li>
                    <li>Inner Second Item</li>
                    <li>Inner Third Item</li>
                    <li>Inner Fourth Item</li>
                </ol>
            </li>
        </ol>
    </div>
</body>
</html>