<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>

    <style type="text/css">
        body{
            font-size: 12pt;
            line-height: 15pt;
            margin: 10pt;
            padding: 10pt;
            border: solid 1px lime;
        }
        
       svg{
           margin: 30pt;
           left: 40pt;
           top: 40pt;
           width: 100pt;
           height: 100pt;
           display: block;
           border: solid 1pt silver;
           background-color: #AAA;
       }
    </style>
</head>
<body>
Before the SVG
    <svg  version="1.1" id="Canvas1" xmlns="http://www.w3.org/2000/svg" 
         xmlns:xlink="http://www.w3.org/1999/xlink"    >
      <rect height="30" width="40" x="40" y="50" stroke="black" stroke-width="1pt" fill="transparent" />
   </svg>
After the SVG
</body>
</html>
