<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Remote and Relative Links</title>
</head>
<body style="padding:20pt">

    <!-- A web link to the google home page -->
    <a href="https://www.google.com" target="_blank">Google</a><br />

    <!-- a link to a local pdf that will open in a new reader tab or window -->
    <a href="LinksCustom.pdf" >
        <div style="border:solid 1px gray; padding:5pt; text-align:center; font-size: 12pt; width: 100pt;">
            <img src="../../images/landscape.jpg" />Document Link
        </div>
    </a><br/>
    <br/>
    <span style="font-size:12pt;">A link to <a href="{{siteurl}}" style="text-decoration: none;">{{siteurl}}</a> site.</span>
</body>
</html>
